*.pdf
*.xlsx
flenv/
Data/
.DS_Store
.ipynb_checkpoints/
.vscode/
*.pt
*.svg
*.png
scratch.ipynb
__pycache__/
.pytest_cache/
logs/
*.eps
checkpoints/
figs/
*.txt
lifelines.ipynb
color.ipynb
*.npy
model.ipynb
loghaz.ipynb